<h1>
    About Meadowalk Travel
</h1>

<p>Your предсказание сегодня :</p>
<blockquote> {{fortune}} </blockquote>
<a href="/contact">aa</a>

{{!-- {{> weather_component}} --}}
{{> form_component}}

{{!-- {{#section 'jquery'}}
<script>
$('document').ready(function(){
$('h1').html('jQuery работает');
});
</script>
{{/section}} --}}

